body {
    background: black;
    color: white;
    font-family: sans-serif;
}

.head {
    text-align: center;
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 30px;
    font-weight: bolder;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.head> * {
    flex: 1;
    flex-basis: 1;
}

.body {
    text-align: start;
    padding-left: 50px;
    padding-top: 50px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.body> * {
    flex: 1;
    flex-basis: 1;
}

.foot {
    text-align: start;
    padding-top: 60px;
    padding-left: 50px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.foot> * {
    flex: 1;
    flex-basis: 1;
}

.input {
    border: 2px solid green;
    background: green;
    color: black;
    border-radius: 10%;
}


.inputs {
    border: 2px solid green;
    background: green;
    color: black;
    border-radius: 11%;
    padding: 1%;
}

.button{
    border: 2px solid green;
    background: black;
    color: green;
    border-radius: 11%;
    padding: 1%;
}

.logo {
    border-radius: 2px solid white;
    border-radius: 50%;
    width: 20%;
    height: 50%;
}

span {
    color: green;
}

.imgs {
    border: 2px solid white;
    width: 70%;
    height: 60%;
}

.ggg {
    font-size: 30px;
    font-weight: bolder;
    color: white;
}

.in {
    border: 2px solid green;
    background: white;
    color: black;
    border-radius: 50%;
}

.in:hover {
    color: white;
    background-color:black;
    transition: ease-in 350ms;
}

button {
    cursor: pointer;
}

button:hover {
    background-color: white;
    transition: 300ms;
}

div a:hover {
    color: green;
    transition: ease-in 200ms;
    cursor: pointer;
    font-weight: bolder;
}